<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Silent Library</title>
  </head>
  <body style="background-color: #272727; color: #e8e8e8;">
    <h1>Header</h1>
    <%- body %>
    <h1>Footer</h1>
  </body>
</html>