<footer>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident,
    voluptatum expedita iste accusantium quasi aut exercitationem natus nam,
    fugiat fuga error distinctio ipsam consequatur molestiae harum laudantium
    possimus obcaecati corrupti?
  </p>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/authors">authors</a>
    </li>
    <li>
      <a href="/authors/new">New author</a>
    </li>
  </ul>
</footer>
