<header>
  <h2>Header</h2>
  <ul>
    <li>
      <a href="/">Home</a>
    </li>
    <li>
      <a href="/authors">authors</a>
    </li>
    <li>
      <a href="/authors/new">New author</a>
    </li>
  </ul>
</header>
